header {
  height: 80px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-links {
  li {
    list-style-type: none;
    margin: 0 20px;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      transition: 0.2s ease color;

      &:hover {
        color: #e2e2e2;
      }
    }
  }
}

.home-view {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,0.4)), url('/img/couple-playing-tablefootball.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.home-view__text {
  position: relative;
  z-index: 10;
}

.section-img__wrapper {
  width: 100%;
  height: 100%;
  min-height: 60vh;
}

.section1-img {
  background: url('/img/tagdate-demo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2-img {
  background: url('/img/couple-selfie.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-animation {
  animation: showContent 1s ease forwards;
}

footer {
  background: $mainGreen;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
